

{% extends "base_generic.html" %}

{% load getattribute %}
{% block content %} 


<div class="content_main wf-section">
 
  <h1 class="heading">{{company_object.企业名称}}</h1>
  <p class="warning">**NOTE** Some records may only have the company name. This is because they've been recorded while processing company-to-company relations and haven't been targeted by the scrape directly yet. They will be filled in later. </p>


  <div class="w-layout-grid company_data_grid">
  {% for potential_field in company_field_names %}    
      {% if company_object|getattribute:potential_field %}
      <div class="metadata_pair_block">
        <div class="metadata_field">
          <div class="metadata_field_text">{{potential_field}}</div>
        </div>
        <div class="metadata_content">
          <div class="metadata_content_text">{{company_object|getattribute:potential_field}}</div>
        </div>
      </div>
      {% endif %}
  {% endfor %}
  </div>

  <h1 class="heading">Operators</h1>
  <div class="w-layout-grid company_data_grid">
  {% for position_itr in related_positions %}    

      <div class="metadata_pair_block">
        <div class="metadata_field">
          <div class="metadata_field_text">{{position_itr.position_title}}</div>
        </div>
        <div class="metadata_content">
          <div class="metadata_content_text">{{position_itr.position_individual.name}}</div>
        </div>
      </div>
  {% endfor %}
  </div>

  <h1 class="heading">Links</h1>
  <p class="warning">**NOTE** Company to Company relations are still being processed, this demo shows the raw server response intercepted by the scraper. Ownership direction is also recorded, but not shown here.</p>
  <div class="company_data_grid">

  {% for company_relation_itr in company_links %}    

      <div class="metadata_pair_block">
        <div class="metadata_field">
            <a href="{{company_relation_itr.target_company.get_absolute_url}}" class="metadata_content_text">{{company_relation_itr.target_company.企业名称}}</a>
        </div>
        <div class="companydata_content">
          <div class="company_basic_field">{{company_relation_itr.original_response}}</div>
      </div>
      </div>
  {% endfor %}
  </div>
</div>
{% endblock %}
